<% provide(:title, "Edit Event") %>

<%= render 'events/newEventHeader' %>

<h1 class="text-center mb-4">
	Edit <%= @event.event_name %>
</h1>

<div>
	<%= render "form", event: @event %>
</div>
